body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("http://wallpapercave.com/wp/ZUlcHRn.jpg");
  background-size: cover;
  background-position: center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: rgb(49, 97, 201);
}
.title{
  background-color: rgb(49, 97, 201);
}
.blinkyDancer{
  /* border:10px solid red; */
  /* border-radius:10px; */
  position: absolute;
  /* content: url("cat.png"); */
  /* height: 150px;
  width: 150px; */
  /* background-image: url("https://cdn1.iconfinder.com/data/icons/halloween-2-3/48/51-512.png");
  background-size: cover; */
}

.ghost{
  height: 100px;
  width: 100px;
}

.witch{
  height: 120px;
  width: 120px;
}

.cat{
  height: 200px;
  width: 200px;
}